:root {
  --mainBackgroundColor: #111225;
  --mainTextColor: #fff;

  --headerBackgroundColor: #f5f5f5;
  --headerColor: #000;

  --saveButtonColor: #008500;
  --saveButtonHoverColor: #006300;

  --resetButtonColor: #db0000;
  --resetButtonHoverColor: #a80000;

  --historyButtonColor: #0089be;
  --historyButtonHoverColor: #007bac;

  --userOptionImageShadowColor: #000000;

  --historyHeadingBackgroundColor: #f5f5f5;
  --historyHeadingColor: #000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  /* overflow-x: hidden; */
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--mainBackgroundColor);
  color: var(--mainTextColor);
  /* margin: 20px; */
}

.header {
  background-color: var(--headerBackgroundColor);
  color: var(--headerColor);
}

/* Scoreboard.js */
.scoreboard-score-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.scoreboard-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #333;
}

.scoreboard-footer button {
  height: 40px;
  width: 80px;
  margin: 10px 5px;
  outline: none;
  border: 0px solid transparent;
  color: #fff;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.scoreboard-footer button:nth-child(1) {
  background-color: var(--saveButtonColor);
}
.scoreboard-footer button:nth-child(1):hover {
  background-color: var(--saveButtonHoverColor);
}

.scoreboard-footer button:nth-child(2) {
  background-color: var(--resetButtonColor);
}
.scoreboard-footer button:nth-child(2):hover {
  background-color: var(--resetButtonHoverColor);
}

.scoreboard-footer button:nth-child(3) {
  background-color: var(--historyButtonColor);
}
.scoreboard-footer button:nth-child(3):hover {
  background-color: var(--historyButtonHoverColor);
}

.scoreboard-header-text {
  padding-top: 10px;
}

/* Options.js */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10px;
  padding: 20px 10px;
}
.options-main-text {
  margin: 0px 0px 10px 0px;
}

/* User Section */
.user-section {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.user-section-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-section-images img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
}

.user-section-images img:hover {
  box-shadow: 0px 0px 10px var(--userOptionImageShadowColor);
}
.user-section-main-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-section-main-image img {
  object-fit: cover;
  transition: all 0.4s ease;
}

/* Computer Section */
.computer-section {
  width: 70%;
  margin: auto auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.computer-section img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

/* History */
.history-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 100%;
  padding: 20px;
  overflow-y: auto;
  transition: all 0.7s ease;
}

.history-close-btn {
  color: #000;
  font-size: 20px;
  margin-left: 95%;
  margin-bottom: 20px;
  cursor: pointer;
}
.history-heading {
  width: 100%;
  background-color: var(--historyHeadingBackgroundColor);
  color: var(--historyHeadingColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.history-heading span {
  flex: 1;
  font-size: 20px;
}
.history-heading:nth-child(3) {
  width: 70px;
}

/* Individual History */
.history-table {
  width: 90%;
  margin: auto auto;
  margin-top: 10px;
  color: #000;
}
.history-table td,
.history-table th {
  padding: 10px;
}

@media screen and (max-width: 700px) {
  img {
    width: 80px;
    height: 60px;
  }
  .selected-image {
    width: 250px;
    height: 150px;
  }
  .main-container {
    display: block;
  }

  .computer-section {
    height: 60%;
  }
}

@media screen and (max-width: 500px) {
  .scoreboard-header-text {
    font-size: 30px;
  }
  .options-main-text {
    font-size: 20px;
    margin: 10px 0px 20px 0px;
  }
  .user-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr;
    margin-bottom: 20px;
  }
  .user-section-images {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .user-section-images img {
    width: 80px;
    height: 60px;
  }

  .user-section-main-image img {
    width: 100%;
  }

  .computer-section {
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .scoreboard-score-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .user-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 310px) {
}
